chardet==2.3.0
command-not-found==0.3
decorator==4.4.0
joblib==0.13.2
language-selector==0.1
liac-arff==2.4.0
memory-profiler==0.55.0
networkx==2.3
numpy==1.16.3
pandas==0.24.2
powerline-status==2.7
psutil==5.6.2
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.8.0
python-debian==0.1.27
python-igraph==0.7.1.post6
python-systemd==231
pytz==2019.1
requests==2.20.0
rpy2==2.7.8
scikit-learn==0.21.1
scipy==1.2.1
six==1.12.0
ssh-import-id==5.5
tqdm==4.32.1
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.0.1
